.text-stroke {
  -webkit-text-stroke: 2px theme('colors.dark');
  mix-blend-mode: darken;
  color: theme('colors.light');
}

.text-hover span {
  transition: all 0.15s cubic-bezier(0.5, 1, 0.89, 1);
  mix-blend-mode: darken;
}

.text-hover:hover span:not(.text-stroke) {
  -webkit-text-stroke: 2px theme('colors.dark');
  color: theme('colors.light');
}

.text-hover:hover span.text-stroke {
  -webkit-text-stroke: 0px theme('colors.light');
  color: theme('colors.dark');
}
